<h1>Graph overview</h1>

<% if current_user.facebook_key.nil? %>
  <p>You haven't authorized this app on facebook yet to access the Graph API<p>
  <ul>
    <li><%= link_to 'Authorize now', new_graph_path %></li>
  </ul>
<% end %>

<% if @name.present? %>
  <p>Hi <%= @data['name'] %></p>
<% end %>

<h2>Overview of your facebook friends</h2>

<pre><%= @response %></pre>
<pre><%= @data.inspect %></pre>

<table>
  <thead>
    <tr>
      <th>Your friends ids</th>
      <th>and names</th>
    </tr>
  </thead>

  <tbody>
    <% @data['friends']['data'].each do |friend| %>
      <tr>
        <td><%= friend['id'] %></td>
        <td><%= friend['name'] %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="2">You have <b><%= @data['friends']['summary']['total_count'] %> friends</b>, <b><%= @data['friends']['data'].count %></b> of them use conferator.</td>
    </tr>
  </tfoot>
</table>
