<h1>Graph overview</h1>

<% if current_user.facebook_key.nil? %>
  <p>You haven't authorized this app on facebook yet to access the Graph API<p>
  <ul>
    <li><%= link_to 'Authorize now', new_graph_path %></li>
  </ul>
<% end %>

<% if @data.try(:[], 'name').present? %>
  <p>Hi <%= @data['name'] %></p>
<% end %>

<h2>Overview of your facebook friends</h2>

<!-- <pre><%= @response.inspect %></pre> -->

<pre><%= @data.inspect %></pre>

<% if current_user.facebook_key.present? %>
  <table>
    <thead>
      <tr>
        <th>Your friends ids</th>
        <th>and names</th>
      </tr>
    </thead>

    <tbody>
      <% @data.try(:[], 'friends').try(:[], 'data').try(:each) do |friend| %>
        <tr>
          <td><%= friend['id'] %></td>
          <td><%= friend['name'] %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="2">You have <b><%= @data.try(:[], 'friends').try(:[], 'summary').try(:[], 'total_count') %> friends</b>, <b><%= @data.try(:[], 'friends').try(:[], 'data').try(:count) %></b> of them use conferator.</td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p>Authorize the app first</p>
<% end %>
